{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock["symbol"] }}</td>

            {%  if stock["type"] == "sell"%}
                <td>{{ stock["shares"] * -1}}</td>
            {% else %}
                <td>{{ stock["shares"] }}</td>
            {% endif %}

            <td>{{ stock["price"] }}</td>
            <td>{{ stock["transacted"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}